{% extends 'base.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Admin - Manage Objects
{% endblock %}

{% block body %}
	<h1>Manage Objects</h1>
	<ul>
		{% for object in objects %}
			<li>{{ object.name }}</li>
		{% endfor %}
	</ul>
{% endblock %}
