{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile</h1>

    {% if user.profilePicture %}
        <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Profile Picture">
    {% else %}
        <p>No profile picture uploaded.</p>
    {% endif %}
{% endblock %}