{% extends 'base.html.twig' %}

{% block title %}List of Companies
{% endblock %}

{% block body %}
	<h1>List of Companies</h1>
	<ul>
		{% for company in companies %}
			<li>
				<a href="{{ path('company_show', { 'id': company.id }) }}">
					{{ company.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<a href="{{ path('company_new') }}">Create a new company</a>
{% endblock %}
